<!DOCTYPE html>
<html lang="en" id="dashboard_page">
  <head> 
    <link rel="stylesheet" type="text/css" href="css/organizer/style.css">

    <script type="text/javascript" src="js/common/userProfiles.js"></script>

    <script src="https://vuejs.org/js/vue.js"></script>
    <script charset="utf-8" src="js/organizer/vue_script.js" defer></script>
    <meta charset="utf-8"/>

    <title>BB dating - dashboard</title>
  </head>
  
  <body id="dashboard">

    <main id="dashboardContent">

      <div class="sidebar">
	<h2 class="profileSideHeader"> Profiles </h2>
      </div>
    
    <input id="exit" type="image" src="img/organizer/exit.png">

    <span class="profileCircleWrapper">
      <input id="play" type="image" src="img/organizer/play.png">
      
      <span v-for="(person, index) in profiles">
        <input :id="person.name"
	       type="image"
	       class="profilePicture"
	       :class="[`deg${degreeSpace[index]}`, `profile${index % 2}`]"
	       :style="spaceProfile(index, person)"
	       :src="person.photo"/>
      </span>
    </span>


    </main>
  </body>
</html>
