<!DOCTYPE html>
<html lang="en">
  <head>
        <title>Orgenizer/match</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>
  <body>
      <input type="image" src="img/organizer/exit.png" width="300" height="150">

      <input type="image" src="img/organizer/play.png" width="200" height="200">
      <div id="participant">
        <div v-for:"person in people">
          <img :id="person.name" :src="person.img" :width="width">
        </div>
      </div>    
  </body>
</html>
