<!DOCTYPE html>
<html lang="en" id="dashboard_page">
  <head>
    <link rel="stylesheet" type="text/css" href="css/organizer/style.css">

    <script type="text/javascript" src="js/common/userProfiles.js"></script>

    <script src="https://vuejs.org/js/vue.js"></script>
    <script charset="utf-8" src="js/organizer/vue_script.js" defer></script>
    <meta charset="utf-8"/>

    <title>BB dating - dashboard</title>
  </head>

  <body id="dashboard">

    <main id="dashboardContent">

      <div class="profileSidebar sidebar"
	   v-on:dragstart="dragProfile"
	   v-on:dragover="allowDrop"
	   v-on:drop="dropProfile">
	<h2 class="sideHeader"> Profiles </h2>

      </div>

       <span class="tempSidebar sidebar"
	   v-on:dragstart="dragProfile"
	   v-on:dragover="allowDrop"
	   v-on:drop="dropSidebar">

     <h2 class="sideHeader" droppable="false"> Unmatched </h2>
      </span>

    <input id="exit" type="image" src="img/organizer/exit.png">


    <input id="play" type="image" src="img/organizer/play.png">

    <div v-for="(pair, index) in pairs"
	 class="pairWrap"
	 draggable="true"
	 v-on:dragover="allowDrop"
	 v-on:drop="dropCircle">

   <div>
     <input :id="`${pair[0]}`.name"
   	       type="image"
   	       class="profilePicture"
   	       draggable="true"
   	       v-on:dragstart="dragSidebar"
   	       :src="pair[0].photo"/>

           <span class="profileInfo">

           </span>
   </div>

   <div>
     <input :id="`${pair[1]}`.name"
   	       type="image"
   	       class="profilePicture"
   	       draggable="true"
   	       v-on:dragstart="dragSidebar"
   	       :src="pair[1].photo"/>
           <span class="profileInfo">

           </span>
   </div>


    <!--  <div class="tooltip">
        <span class="tooltiptext">

        </span>
      </div> -->

    </div>



    </main>
  </body>
</html>
