<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>Speed Dating </title>
    <meta charset ="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/user/participant-style.css">
    <!-- <script src="/vue/vue.js" defer></script> -->
    <script type="text/javascript" src="js/user/menu.js"></script>
    <script src="js/user/participant-vue-script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    
  </head>
  <body id="bodyPart3">
    <main>
      <header>
	<h1> Get in touch!  </h1>
      </header>
      <div class="wrapper">
	  <div class="round" id="wrapImg1">
            <img alt="profile pic 1" src="img/user/edward_prof.jpg">
	  </div>
	  <div class="wrapCheckBox">
	    <label class="container">Edward
	      <input type="checkbox">
	      <span class="checkmark"></span>
	    </label>
	  </div>
	  <div class="round" id="wrapImg2">
	    <img alt="profile pic 2" src="img/user/eva_prof.jpeg">
	  </div>
	  <div class="wrapCheckBox">
	    <label class="container">Eva
	      <input type="checkbox">
	      <span class="checkmark"></span>
	    </label>
	  </div>
	  <div class="round" id="wrapImg3">
	    <img alt="profile pic 3" src="img/user/matheus_prof.jpg">
	  </div>
	  <div class="wrapCheckBox">
	    <label class="container">Matheus
	      <input type="checkbox">
	      <span class="checkmark"></span>
	    </label>
	  </div>  
      </div>
      <div class="btn6Wrapper">
	<button onclick="location.href='http://localhost:3000/participant4'" class="button6"> Continue </button>
      </div>
    </main>
    <footer>
      Contact information will only be shared if both of you want to share it
    </footer>
  </body>
</html>
