<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>Speed Dating </title>
    <meta charset ="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/user/participant-style.css">
    <script src="/vue/vue.js" defer></script>
    <script type="text/javascript" src="js/user/menu.js"></script>
    <script src="js/user/part_1_script.js" defer></script>
    <script src="js/user/participant-vue-script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>

    
  </head>
  <body id="bodyPart2">
    <main id="part2">
      <h1> Date Over! </h1>
      <p>Rate Your Date </p>
      <p>Good Looks:</p>
      <div class="rating">
      
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <p>Common Interests:</p>
      <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <p>Good Personality:</p>
      <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <p>Overall:</p>
      <div class="rating">
        <span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
      </div>
      <button class="button" >Send Rating!!</button> 
    </main>
  </body>
</html>
