<!DOCTYPE html>
<html lang ="en">
  <head>
    <title>Speed Dating </title>
    <meta charset ="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/user/participant-style.css">
    <script src="/vue/vue.js" defer></script>
    <script type="text/javascript" src="js/user/menu.js"></script>
    <script src="js/user/part_1_script.js" defer></script>
    <script src="js/user/participant-vue-script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>

    
  </head>
  <body id="bodyPart4" >
    <div class="wrapper" id="part4">
      <div class="round">
        <img :src="image">
      </div>
      <div class="input">
        <p> {{part_name}} liked You, Tel: {{Tel}} </p>
      </div>
    </div>
  </body>
</html>
