
header {
    background-attachment: scroll;
    margin: 10px;
    height: 100px;
    overflow:hidden;
}
body {
    background-color: aquamarine;
}
header h1 {
}

.timer{
    display: block;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img{
    border-radius: 50%;
}

div#mainRating{
    display: block;
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}


