
header {
    background-attachment: scroll;
    margin: 10px;
    height: 100px;
    overflow:hidden;
}


#bodyPart {
    background-image: url(/img/common/Background.png);
    background-color: aquamarine;
}

#bodyPart1 {
    background-image: url(/img/common/Background.png);
    background-color: aquamarine;
    display: block;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#bodyPart2 {
    background-image: url(/img/common/Background.png);
    background-color: aquamarine;
    display: block;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

#bodyPart3 {
    background-image: url(/img/common/Background.png);
    background-color: aquamarine; 
}


#bodyPart4 {
    background-image: url(/img/common/Background.png);
    background-color: aquamarine;
    /* display: block; */
    /* text-align: center; */
    /* font-size: 40px; */
    /* margin-top: 0px; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    /* width: 50%;  */

}


#bodyPart1 img {
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: gold;
}


#bodyPart2 button {
  background-color: deepskyblue;
  border: none;
  border-radius: 50%;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.wrapper img{
    width: 100%;
    height: 100%;
}

.wrapper .round {
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

.wrapper input {
    display: block;
    margin: auto auto;
    width: auto;
}

.wrapper p {
    display: block;
    margin: auto auto;
    margin-top: 10%;
    font-size: 30px;
    width: auto;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
}
