
body{
    background-image: url(/img/organizer/Background.png);
    background-position: center;
    
}

#exit{
    position: fixed;
    right: 0%;
    top: 0%;

    height: auto;
    width: 10%;
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;


    background: #ffacb7;
    height: 100%;
    width: 250px;
}

.profileSideHeader{
    display: block;
    margin: 0;
    padding-top: 5.5%;
    
    color: #ff6069;
    background-color: #fbccd1;

    text-align: center;
    height: 5%;
}

#play{
    position: fixed;
    left: 45%;
    top: 38%;

    height: auto;
    width: 9%;
}

.profileCircleWrapper{
    position: fixed;
    
    margin: auto auto;
    
    left: 47.25%;
    top: 42%;
    background-color: blue;

    /*text-align: center;
    background:pink;
    border-radius: 50%;*/
}

.profilePicture{
    display: block;
    position: absolute;
    
    margin: auto auto;

    height: 90px;
    width: 90px;
}
