
body{
    background-image: url(/img/organizer/Background.png);
    background-position: center;
    
}

#exit{
    position: fixed;
    right: 0%;
    top: 0%;

    height: auto;
    width: 10%;
}

.tempSidebar{
    position: fixed;
    top: 10%;
    right: 0;
    margin: 0 auto;

    background: rgba(255, 172, 183, 0.2);
    height: 100%;
    width: 280px;
}


.profileSidebar{
    position: fixed;
    top: 0;
    left: 0;


    background: #ffacb7;
    height: 100%;
    width: 280px;
}

.profileSideHeader{
    display: block;
    margin: 0;
    padding-top: 5.5%;
    
    color: #ff6069;
    background-color: #fbccd1;

    text-align: center;
    height: 5%;
}
.sidebar input {
    display: block;
    position: relative;

    /* TODO: Make photo alignment leftwards*/
    z-index: 3;
    
    height: 70px;
    width: auto;
}

#play{
    position: fixed;
    left: 45%;
    top: 38%;

    height: auto;
    width: 9%;
}

.profilePictureWraps{
    position: fixed;

    margin: 0 0;

    height: 90px;
    width: 90px;

    left: 47.2%;
    top: 41.75%;
}
.profilePicture{
    position: fixed;

    height: 90px;
    width: 90px;
}

/*
.table{
    
    position: relative;
    z-index: -1;

    margin: 0 0;

    background-color: blue;
}
*/
