
body{
    background-image: url(/img/organizer/Background.png);
    background-position: center;
    
}

.sidebar{
    position: fixed;
    top: 0;
    left: 0;


    background: #ffacb7;
    height: 100%;
    width: 300px;
}

.profileHeader{
    display: block;
    margin: 0;
    padding-top: 5%;
    
    color: #ff6069;
    background-color: #fbccd1;

    text-align: center;
    height: 5%;
}

#exit{
    position: fixed;
    right: 0%;
    top: 0%;

    height: auto;
    width: 10%;
}

#play{
    position: fixed;
    left: 44%;
    top: 38%;
    margin-left: 100px;

    height: auto;
    width: 9%;
}
